<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn Vue 2: Step by Step</title>
</head>
<body>
  <div id="root">
    <h1>All tasks</h1>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>
    <h1>Incomplete tasks</h1>
    <ul>
      <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>
    <!-- TODO -->
    <h2>Homework:</h2>
    <ul>
      <li>Have three lists:</li>
      <li>Have a checkbox to complete a task</li>
      <ul>
        <li>All tasks</li>
        <li>incomplete tasks</li>
        <li>complete tasks</li>
      </ul>
    </ul>
    <!-- /TODO -->
  </div>

  <!-- Scripts -->
  <script src="https://unpkg.com/vue@2.4.1"></script>
  <script>
    var app = new Vue({
      el: '#root',
      data: {
        tasks: [
          {
            description: 'Go to the store',
            completed: true
          },
          {
            description: 'Finish screencast',
            completed: false
          },
          {
            description: 'Make donation',
            completed: false
          },
          {
            description: 'Clear inbox',
            completed: true
          },
          {
            description: 'Make dinner',
            completed: false
          },
          {
            description: 'Clean room',
            completed: true
          },
        ],
      },
      computed: {
        incompleteTasks() {
          return this.tasks.filter(task => !task.completed);
        }
      },
    });
  </script>
</body>
</html>