<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Learn Vue 2: Step by Step</title>
</head>
<body>
  <div id="root">
    <h1>All tasks</h1>
    <ul>
      <li v-for="task in tasks">
        <span>{{ task.description }}</span>
        <button type="button" @click="toggleCheck(task)">Toggle 🦉</button>
      </li>
    </ul>
    <h1>Incomplete tasks</h1>
    <ul>
      <li v-for="task in incompleteTasks">
        <span>{{ task.description }}</span>
        <button type="button" @click="toggleCheck(task)">Toggle 🦉</button>
      </li>
    </ul>
    <h1>Complete tasks</h1>
    <ul>
      <li v-for="task in completeTasks">
        <span>{{ task.description }}</span>
        <button type="button" @click="toggleCheck(task)">Toggle 🦉</button>
      </li>
    </ul>
    <div style="background: rgba(255, 0, 0, 0.1); padding: 1rem;">
      <h2>Homework:</h2>
      <ul>
        <li>Have a button to toggle a task ✅</li>
        <li>Have three lists:</li>
        <ul>
          <li>All tasks ✅</li>
          <li>Incomplete tasks ✅</li>
          <li>Complete tasks ✅</li>
        </ul>
      </ul>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://unpkg.com/vue@2.4.1"></script>
  <script>
    var app = new Vue({
      el: '#root',
      data: {
        tasks: [
          {
            description: 'Go to the store',
            completed: true
          },
          {
            description: 'Finish screencast',
            completed: false
          },
          {
            description: 'Make donation',
            completed: false
          },
          {
            description: 'Clear inbox',
            completed: true
          },
          {
            description: 'Make dinner',
            completed: false
          },
          {
            description: 'Clean room',
            completed: true
          },
        ],
      },
      computed: {
        incompleteTasks() {
          return this.tasks.filter(task => !task.completed);
        },
        completeTasks() {
          return this.tasks.filter(task => task.completed);
        },
      },
      methods: {
        toggleCheck(taskSelected) {
          this.tasks.forEach(task => {
            if (task.description == taskSelected.description)
              task.completed = !task.completed;
          });
        },
      },
    });
  </script>
</body>
</html>